python-version = "3.12.0"
replace-imports-with-any = [
    "pynvml.*",
    "hydra._internal.*",
    "hydra.core.override_parser.*",
    "datasets.*",
    "transformers.*",
    "vllm.*",
    "math_verify.*",
    "sympy.*",
    "torchdata.*",
    "nemo.*",
    "ray.*",
    "numpy.*",
]
project-includes = [
    # TODO: enable these once we have 100 correctness
    #"rlkit/**/*.py",
    #"examples/**/*.py",
    #"docs/*.py",
    #"tools/**/*.py",
    
    # Generate the list of errors per file
    # uv run --group dev pyrefly check $(git ls-files 'rlkit/**/*.py' 'examples/**/*.py' 'docs/*.py' 'tools/**/*.py') --output-format json | jq -r --slurpfile all_files <(git ls-files 'rlkit/**/*.py' 'examples/**/*.py' 'docs/*.py' 'tools/**/*.py' | jq -R -s 'split("\n")[:-1]') --arg pwd "$(pwd)/" '(.errors | group_by(.path) | map({(.[0].path | sub($pwd; "")): length}) | add // {}) as $error_counts | $all_files[0][] | . as $file | "\($error_counts[$file] // 0)\t\($file)"' | sort -n

    # Generate list of files with 0 errors
    # uv run --group dev pyrefly check $(git ls-files 'rlkit/**/*.py' 'examples/**/*.py' 'docs/*.py' 'tools/**/*.py') --output-format json | jq -r --slurpfile all_files <(git ls-files 'rlkit/**/*.py' 'examples/**/*.py' 'docs/*.py' 'tools/**/*.py' | jq -R -s 'split("\n")[:-1]') --arg pwd "$(pwd)/" '(.errors | group_by(.path) | map({(.[0].path | sub($pwd; "")): length}) | add // {}) as $error_counts | $all_files[0][] | . as $file | if ($error_counts[$file] // 0) == 0 then $file else empty end'
    # uv run --group dev pyrefly check $(git ls-files 'rlkit/**/*.py' 'examples/**/*.py' 'docs/*.py' 'tools/**/*.py') --output-format json | jq -r --slurpfile all_files <(git ls-files 'rlkit/**/*.py' 'examples/**/*.py' 'docs/*.py' 'tools/**/*.py' | jq -R -s 'split("\n")[:-1]') --arg pwd "$(pwd)/" '(.errors | group_by(.path) | map({(.[0].path | sub($pwd; "")): length}) | add // {}) as $error_counts | $all_files[0][] | . as $file | if ($error_counts[$file] // 0) == 0 then "    \"\($file)\"," else empty end'
    "docs/conf.py",
    "examples/converters/convert_dcp_to_hf.py",
    "rlkit/algorithms/__init__.py",
    "rlkit/algorithms/interfaces.py",
    "rlkit/algorithms/utils.py",
    "rlkit/data/__init__.py",
    "rlkit/data/datasets.py",
    "rlkit/data/hf_datasets/__init__.py",
    "rlkit/data/hf_datasets/chat_templates.py",
    "rlkit/data/hf_datasets/helpsteer3.py",
    "rlkit/data/hf_datasets/oai_format_dataset.py",
    "rlkit/data/hf_datasets/oasst.py",
    "rlkit/data/hf_datasets/openmathinstruct2.py",
    "rlkit/data/hf_datasets/prompt_response_dataset.py",
    "rlkit/data/hf_datasets/squad.py",
    "rlkit/data/interfaces.py",
    "rlkit/data/packing/__init__.py",
    "rlkit/distributed/__init__.py",
    "rlkit/distributed/collectives.py",
    "rlkit/distributed/named_sharding.py",
    "rlkit/distributed/ray_actor_environment_registry.py",
    "rlkit/distributed/virtual_cluster.py",
    "rlkit/distributed/worker_group_utils.py",
    "rlkit/environments/__init__.py",
    "rlkit/environments/interfaces.py",
    "rlkit/environments/rollouts.py",
    "rlkit/models/__init__.py",
    "rlkit/models/dtensor/__init__.py",
    "rlkit/models/dtensor/parallelize.py",
    "rlkit/models/generation/__init__.py",
    "rlkit/models/generation/interfaces.py",
    "rlkit/models/huggingface/__init__.py",
    "rlkit/models/policy/__init__.py",
    "rlkit/models/policy/interfaces.py",
    "rlkit/models/policy/utils.py",
    "rlkit/utils/__init__.py",
    "rlkit/utils/checkpoint.py",
    "rlkit/utils/config.py",
    "rlkit/utils/native_checkpoint.py",
    "rlkit/utils/nsys.py",
    "rlkit/utils/nvml.py",
    "rlkit/utils/prefetch_venvs.py",
    "rlkit/utils/timer.py",
    "rlkit/utils/venvs.py",
    "tools/model_diagnostics/1.max_model_len_respected.py",
    "tools/model_diagnostics/2.long_generation_decode_vs_prefill.py",
]

# Disable TypedDict mutation errors since TypedDict objects are regular dicts at runtime
[errors]
missing-attribute = false
